<%= form_for @user do |form| %>
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow" style="background-color: #131212;">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2">Sign up</h1>
      </div>
      <div class="modal-body p-5 pt-0">
        <form class="form-floating mb-3">
          <div class="form-floating mb-3">
            <%= form.email_field :email, class: 'form-control rounded-3',id: 'floatingInput', placeholder: 'mail@example.com'%>
            <%= form.label :email, for: "floatingInput" %>
          </div>
          <div class="form-floating mb-3">
            <%= form.password_field :password, class: 'form-control rounded-3', id: 'floatingPassword', placeholder: 'Password' %>
            <%= form.label :password, for: "floatingPassword" %>
          </div>
          <%= form.submit "Sign up", class: 'w-100 mb-2 btn btn-lg rounded-3 btn-primary' %>
          <small class="text-body-secondary">Already have an account? <%= link_to t(".sign_in"), sign_in_path %></small>
        </form>
      </div>
    </div>
  </div>
<% end %>