<h1 class="m-8 text-gray-800 dark:text-white text-3xl font-bold">Achievements</h1>

<h1 class="mb-2 mx-8 text-gray-800 dark:text-white font-bold">Lernen</h1>
<div class="mb-8 mx-8 bg-gray-200 dark:bg-gray-800 p-4 rounded-md">
  <div class="grid grid-cols-2 md:grid-cols-6 gap-4 items-center justify-center text-center">
    <% achievements.each do |a| %>
      <div>
        <% matched_achievement = @load_achievements.find { |u| a.id == u.achievements_id } %>

        <%= image_tag(matched_achievement ? "#{a[:image]}.svg" : "locked_#{a[:image]}.svg", alt: a[:image], :class => 'h-auto max-w-full rounded-lg mx-auto') %>
        <p class="m-2 text-black dark:text-white"><%= a[:title] %></p>
        <% if matched_achievement %>
          <p class="text-sm text-gray-500">Earned at: <%= matched_achievement.created_at.strftime('%B %d, %Y') %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<% streak = [3, 5, 7, 10, 20, 30, 45, 60, 70, 80] %>
<h1 class="mb-2 mx-8 text-gray-800 dark:text-white font-bold">Serien</h1>
<div class="m-8 bg-gray-200 dark:bg-gray-800 p-4 rounded-md">
  <h1 class="pl-8 py-4 text-gray-800 dark:text-white">Tägliche Lernserien</h1>
  <div class="pb-4 grid grid-cols-2 md:grid-cols-6 gap-4 items-center justify-center text-center">
    <% daily = streak_daily %>
    <% streak.each do |e| %>
      <div class="relative">
      <%= image_tag(daily >= e ? "badge_Day.svg" : "locked_badge_Day.svg", alt: "badge-Day", :class => 'h-auto max-w-full rounded-lg mx-auto') %>
      <span class="absolute" style="top: 40%; transform: translate(-50%,-50%);"><%= e %></span>
      <p class="mt-2 text-black dark:text-white"><%= e %> Days</p>
      </div>
    <% end %>
    </div>
  <div class="relative py-8">
    <div class="absolute inset-0 flex items-center justify-center" aria-hidden="true">
      <div class="w-full border-t border-gray-300 dark:border-gray-600"></div>
    </div>
  </div>
  <h1 class="pl-8 py-4 text-gray-800 dark:text-white">Wöchentliche Lernserien</h1>
  <div class="pb-4  grid grid-cols-2 md:grid-cols-6 gap-4 items-center justify-center text-center">
    <% weekly = streak_weekly %>
    <% streak.each do |e| %>
      <div class="relative">
        <%= image_tag(weekly  >= e ? "badge_Day.svg" : "locked_badge_Day.svg", alt: "badge-Day", :class => 'h-auto max-w-full rounded-lg mx-auto') %>
        <span class="absolute" style="top: 37%; transform: translate(-50%,-50%);"><%= e %></span>
        <p class="mt-2 text-black dark:text-white"><%= e %> Weeks</p>
      </div>
    <% end %>
  </div>
</div>
