<h1 class="m-8 text-gray-800 dark:text-white text-3xl font-bold">Achievements</h1>

<h1 class="mb-2 mx-8 text-gray-800 dark:text-white font-bold">Lernen</h1>
<div class="mb-8 mx-8 bg-gray-200 dark:bg-gray-800 p-4 rounded-md">
  <div class="grid grid-cols-2 md:grid-cols-6 gap-4 items-center justify-center text-center">
    <% achievements = [
      { image: "badge-StudiedWithTest.svg", alt: "StudiedWithTest", title: "Studied with Test" },
      { image: "badge-ReachedEndOfLearn.svg", alt: "ReachedEndOfLearn", title: "Reached End of Learn" },
      { image: "badge-CreatedFirstSet.svg", alt: "NightOwl", title: "Created First Set" },
      { image: "badge-FirstHighscoreInMatch.svg", alt: "NightOwl", title: "Overachiever" },
      { image: "badge-NightOwl.svg", alt: "NightOwl", title: "Night Owl" },
      { image: "badge-EarlyBird.svg", alt: "EarlyBird", title: "Lark" }
    ] %>
    <% achievements.each_with_index do |achievement, index| %>
      <div>
        <%= image_tag(achievement[:image], alt: achievement[:alt], :class => 'h-auto max-w-full rounded-lg mx-auto') %>
        <p class="m-2 text-black dark:text-white"><%= achievement[:title] %></p>
        <p class="text-sm text-gray-500">Earned at: <%= Date.today %></p>
      </div>
    <% end %>
  </div>
</div>

<h1 class="mb-2 mx-8 text-gray-800 dark:text-white font-bold">Serien</h1>
<div class="m-8 bg-gray-200 dark:bg-gray-800 p-4 rounded-md">
  <h1 class="pl-8 py-4 text-gray-800 dark:text-white">Tägliche Lernserien</h1>
  <div class="pb-4 grid grid-cols-2 md:grid-cols-6 gap-4 items-center justify-center text-center">
    <% titles = ["3", "5", "7", "10", "20", "30", "45", "60", "70", "80"] %>
    <% titles.each do |title| %>
      <div class="relative">
        <%= image_tag(rand < 0.5 ? "locked-badge-Day.svg" : "badge-Day.svg", alt: "badge-Day", :class => 'h-auto max-w-full rounded-lg mx-auto') %>
        <span class="absolute" style="top: 37%; transform: translate(-50%,-50%);"><%= title %></span>
        <p class="mt-2 text-black dark:text-white"><%= title %> Days</p>
        <p class="text-sm text-gray-500">Earned at: <%= Date.today %></p>
      </div>
    <% end %>
  </div>
  <div class="relative py-8">
    <div class="absolute inset-0 flex items-center justify-center" aria-hidden="true">
      <div class="w-full border-t border-gray-300 dark:border-gray-600"></div>
    </div>
  </div>
  <h1 class="pl-8 text-gray-800 dark:text-white text-center">Wöchentliche Lernserien</h1>
  <div class="pb-4  grid grid-cols-2 md:grid-cols-6 gap-4 items-center justify-center text-center">
    <% titles = ["3", "5", "7", "10", "20", "30", "45", "60", "70", "80"] %>
    <% titles.each do |title| %>
      <div class="relative">
        <%= image_tag(rand < 0.5 ? "locked-badge-Week.svg" : "badge-Week.svg", alt: "badge-Day", :class => 'h-auto max-w-full rounded-lg mx-auto') %>
        <span class="absolute" style="top: 37%; transform: translate(-50%,-50%);"><%= title %></span>
        <p class="mt-2 text-black dark:text-white"><%= title %> Weeks</p>
        <p class="text-sm text-gray-500">Earned at: <%= Date.today %></p>
      </div>
    <% end %>
  </div>
</div>